@import url(css/default.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic");
/* line 18, style.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 19, style.scss */
ul {
  list-style-type: none;
}

/* line 20, style.scss */
button, input, textarea {
  font-family: inherit;
}

/* line 21, style.scss */
input[type="submit"], button {
  cursor: pointer;
}

/* line 22, style.scss */
img {
  max-width: 100%;
}

/* line 23, style.scss */
.--skew {
  -webkit-transform: skew(-13deg);
          transform: skew(-13deg);
}
/* line 16, style.scss */
.--skew > * {
  display: inline-block;
  -webkit-transform: skew(13deg);
          transform: skew(13deg);
}

/* line 24, style.scss */
.--upper {
  text-transform: uppercase;
}

/* line 25, style.scss */
.--button, nav ul a {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  box-shadow: inset 3px 4px 15px -7px rgba(0, 0, 0, 0.8);
  -webkit-transform: skew(-13deg);
          transform: skew(-13deg);
}
/* line 16, style.scss */
.--button > *, nav ul a > * {
  display: inline-block;
  -webkit-transform: skew(13deg);
          transform: skew(13deg);
}
/* line 33, style.scss */
.--button.--noskew, nav ul a.--noskew {
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
}
/* line 35, style.scss */
.--button.--noskew > *, nav ul a.--noskew > * {
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
}
/* line 37, style.scss */
.--button.--noshadow, nav ul a.--noshadow {
  box-shadow: none;
}
/* line 38, style.scss */
.--button:hover, nav ul a:hover {
  box-shadow: inset 3px 4px 15px -7px rgba(0, 0, 0, 0.8);
}

/* line 43, style.scss */
#hamburger {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background: url(images/hamburger.png) center center no-repeat;
  z-index: 1000;
}

/* line 54, style.scss */
#mobile-menu {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

/* line 65, style.scss */
.--button-default {
  display: inline-block;
  font-size: 18px;
  font-family: "Calibri",sans-serif;
  text-transform: uppercase;
  text-align: center;
  max-width: 320px;
  background-color: #fd2f30;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  color: #fff;
  width: 100%;
}
/* line 81, style.scss */
.--button-default:hover {
  box-shadow: inset 3px 4px 15px -7px rgba(0, 0, 0, 0.8);
}
/* line 85, style.scss */
.--button-default.i-call {
  padding-right: 50px;
  background-image: url(images/icon-call.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 15%) center;
}

/* line 92, style.scss */
.--input {
  border: none;
  background-color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  padding: 18px 20px;
  width: 100%;
}
/* line 100, style.scss */
.--input.border {
  border: 1px solid #d3d3d3;
}
/* line 104, style.scss */
.--input.wauto {
  width: auto;
}

/* line 106, style.scss */
.--counter {
  display: flex;
  height: 60px;
}
/* line 110, style.scss */
.--counter button {
  background-color: #fff;
  border: none;
  font-size: 30px;
  color: #bababa;
  font-family: "Calibri",sans-serif;
  width: 45px;
  height: 100%;
  line-height: 60px;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/* line 122, style.scss */
.--counter button:hover {
  background-color: #eee;
}
/* line 125, style.scss */
.--counter button:active {
  background-color: #fff;
}
/* line 129, style.scss */
.--counter input {
  border: none;
  width: 50px;
  margin: 0 1px;
  text-align: center;
  font-size: 36px;
  outline: none;
  font-family: "Calibri",sans-serif;
}
/* line 140, style.scss */
.--counter .minus {
  font-size: 40px;
}

/* line 142, style.scss */
.--shadow {
  box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.4);
}

/* line 143, style.scss */
p.text-caption {
  font-size: 23px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "Calibri",sans-serif;
}

/* line 150, style.scss */
p.default-text {
  font-size: 18px;
  color: #000;
  font-family: "Calibri",sans-serif;
}

/* line 156, style.scss */
html, body {
  max-width: 1920px;
  margin: 0 auto;
}

/* line 157, style.scss */
body {
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
}

/* line 161, style.scss */
.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
}

/* line 170, style.scss */
header {
  height: 85px;
  box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}
/* line 175, style.scss */
header .container {
  position: relative;
}
/* line 177, style.scss */
header .logotype {
  background-color: #fff;
  padding: 15px 40px;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}
/* line 184, style.scss */
header .logotype p {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 21px;
  color: #009dda;
  font-style: italic;
  line-height: 1;
}
/* line 193, style.scss */
header .phone {
  font-size: 36px;
  color: #ff1820;
  font-weight: 600;
  margin-right: 20px;
}
/* line 199, style.scss */
header .question {
  padding: 16px 20px;
  background-color: #ef3935;
}

/* line 205, style.scss */
nav {
  height: 50px;
  width: 100%;
  position: relative;
  box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.3);
}
/* line 211, style.scss */
nav .lines {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
/* line 216, style.scss */
nav .lines span:nth-child(1) {
  background-color: #009dda;
  width: 70%;
}
/* line 217, style.scss */
nav .lines span:nth-child(2) {
  background-color: #eda79f;
  flex: 1;
}
/* line 220, style.scss */
nav ul {
  width: 100%;
  height: 100%;
  padding-right: 15px;
}
/* line 226, style.scss */
nav ul a {
  -webkit-transform: skew(-13deg);
          transform: skew(-13deg);
  display: block;
  height: 100%;
  padding: 14px 25px;
  transition: all .6s linear;
}
/* line 16, style.scss */
nav ul a > * {
  display: inline-block;
  -webkit-transform: skew(13deg);
          transform: skew(13deg);
}
/* line 234, style.scss */
nav ul a:hover {
  padding-left: 70px;
  padding-right: 70px;
}
/* line 236, style.scss */
nav ul li:nth-child(1) a {
  background-color: #50ccd4;
}
/* line 237, style.scss */
nav ul li:nth-child(2) a {
  background-color: #ffb629;
}
/* line 238, style.scss */
nav ul li:nth-child(3) a {
  background-color: #f55f24;
}
/* line 239, style.scss */
nav ul li:nth-child(4) a {
  background-color: #d2a399;
}

/* line 244, style.scss */
.section__title {
  font-size: 30px;
  color: #348aac;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding-top: 40px;
}
/* line 253, style.scss */
.section__title.--orange {
  color: #ff8843;
}
/* line 254, style.scss */
.section__title.--white {
  color: #fff;
}
/* line 255, style.scss */
.section__title.--black {
  color: #000;
}

/* line 260, style.scss */
section.banner {
  background-image: url(images/banner-bg.png);
  background-size: cover;
  background-position: 0 -125px;
  min-height: 1000px;
}
/* line 266, style.scss */
section.banner .bg {
  width: 100%;
  min-height: 570px;
  background: url(images/top-bg1.png) top center no-repeat;
  position: relative;
  z-index: 2;
}
/* line 274, style.scss */
section.banner .form {
  margin-top: -65px;
  position: relative;
  z-index: 3;
}
/* line 279, style.scss */
section.banner .form-mini {
  background-color: #50ccd4;
  padding: 13px 13px 13px 20px;
  margin-right: 30px;
}
/* line 283, style.scss */
section.banner .form-mini .prices {
  font-size: 38px;
  font-family: "Calibri",sans-serif;
  color: #fff;
  font-weight: bold;
  line-height: .8;
  margin-right: 30px;
}
/* line 291, style.scss */
section.banner .form-mini .prices span {
  position: relative;
}
/* line 292, style.scss */
section.banner .form-mini .prices > span:first-child {
  color: #174d6f;
  top: -5px;
}
/* line 295, style.scss */
section.banner .form-mini .prices > span > span:first-child {
  padding: 0 10px;
}
/* line 296, style.scss */
section.banner .form-mini .prices > span > span:last-child {
  margin-left: -5px;
}
/* line 297, style.scss */
section.banner .form-mini .prices .rub {
  font-size: 23px;
}
/* line 298, style.scss */
section.banner .form-mini .prices .line {
  position: relative;
}
/* line 301, style.scss */
section.banner .form-mini .prices .line:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: currentColor;
}
/* line 313, style.scss */
section.banner .form-mini .submit {
  margin-left: 10px;
  background-color: #f86216;
  border: none;
  height: 100%;
  padding: 10px 25px;
  font-size: 25px;
  padding-right: 70px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 180px 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 180px 100%, 0% 100%);
  background-image: url(images/icon-cart.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 29px) center;
  position: relative;
  z-index: 3;
}
/* line 330, style.scss */
section.banner .text {
  max-width: 560px;
  padding: 10px 20px;
  font-size: 24px;
  color: #fff;
  font-style: italic;
  background-color: #ff9627;
}

/* line 342, style.scss */
section.lazu {
  background: url(images/lazu-top-bg.png) -20px 0px no-repeat;
  min-height: 1000px;
  margin-top: -380px;
}
/* line 347, style.scss */
section.lazu.lazu-second {
  margin-top: 0;
}
/* line 351, style.scss */
section.lazu .box {
  padding-top: 190px;
}
/* line 353, style.scss */
section.lazu .mobile {
  display: none;
}

/* line 358, style.scss */
section.secret {
  background: url(images/secret-bg.png) bottom center no-repeat;
}
/* line 361, style.scss */
section.secret .text {
  margin-top: 80px;
}
/* line 363, style.scss */
section.secret .text .default-text {
  text-align: justify;
}
/* line 364, style.scss */
section.secret .text .col + .col {
  padding-left: 30px;
}
/* line 367, style.scss */
section.secret .bg {
  background: url(images/secret-img.png) no-repeat;
  background-position: center center;
  min-height: 840px;
}
/* line 372, style.scss */
section.secret .bottom-text {
  padding: 50px 0;
  font-size: 25px;
  text-align: center;
  font-family: "Calibri",sans-serif;
}

/* line 381, style.scss */
section.action {
  padding: 50px 0;
}
/* line 386, style.scss */
section.action .col + .col {
  margin-left: 150px;
  max-width: 460px;
}
/* line 388, style.scss */
section.action .title {
  font-size: 31px;
  color: #209ed2;
  text-transform: uppercase;
  line-height: 1;
}
/* line 394, style.scss */
section.action .sub-title {
  font-size: 34px;
  line-height: 1;
  color: #57d9df;
}
/* line 399, style.scss */
section.action .img {
  padding: 20px 0;
  border: 1px solid #555;
  max-width: 420px;
  max-height: 420px;
  margin: 40px 0;
}
/* line 404, style.scss */
section.action .img img {
  display: block;
  margin: 0 auto;
}
/* line 406, style.scss */
section.action .label {
  background: url(images/action-label.png) no-repeat;
  min-width: 460px;
  height: 120px;
  text-align: center;
  color: #16456e;
  font-family: "Calibri",sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1;
  padding: 10px;
}
/* line 418, style.scss */
section.action .label span {
  font-size: 47px;
  font-weight: 600;
  display: block;
}
/* line 425, style.scss */
section.action .timer {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  width: 90%;
  margin: 0 auto;
}
/* line 432, style.scss */
section.action .time-counter {
  margin-top: 20px;
}
/* line 435, style.scss */
section.action .prices {
  margin-top: 20px;
  font-family: "Calibri",sans-serif;
  font-size: 31px;
  font-weight: bold;
  color: #21c1cd;
  display: flex;
  justify-content: center;
}
/* line 443, style.scss */
section.action .prices .orange {
  color: #ef3935;
  text-decoration: line-through;
  margin-right: 20px;
}
/* line 445, style.scss */
section.action .small-text {
  padding-top: 20px;
  font-family: "Calibri",sans-serif;
  font-size: 14px;
  color: #000000;
  max-width: 350px;
  display: block;
  margin: 0 auto;
  text-align: justify;
}
/* line 455, style.scss */
section.action form {
  display: flex;
  margin-left: 55px;
  margin-top: 40px;
}
/* line 460, style.scss */
section.action .submit {
  display: inline-block;
  margin-left: 10px;
  background-color: #ef3935;
  border: none;
  padding: 10px 25px;
  font-size: 25px;
  padding-right: 70px;
  background-image: url(images/icon-cart.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 29px) center;
  position: relative;
  z-index: 3;
}
/* line 474, style.scss */
section.action .--counter {
  display: inline-flex;
  border: 1px solid #bbb;
}
/* line 478, style.scss */
section.action .--counter .plus {
  font-size: 37px;
}

/* line 484, style.scss */
section.banner-second {
  background: url(images/banner-bg-2.png) bottom no-repeat;
  padding-bottom: 170px;
  box-shadow: inset 0px -24px 21px -29px #000;
}
/* line 489, style.scss */
section.banner-second .section__title {
  margin-bottom: 95px;
}
/* line 493, style.scss */
section.banner-second .col-8 {
  width: 75%;
}
/* line 497, style.scss */
section.banner-second .adv-items {
  width: 25%;
  text-align: center;
  font-family: "Calibri";
  font-size: 24px;
  text-transform: uppercase;
}
/* line 504, style.scss */
section.banner-second .adv-items.mobile {
  display: none;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 35px;
}
/* line 510, style.scss */
section.banner-second .adv-items.mobile .item {
  width: 44%;
  margin-top: 10px;
}
/* line 514, style.scss */
section.banner-second .adv-items.mobile img {
  height: 50px;
  width: 50px;
}
/* line 520, style.scss */
section.banner-second .adv-items .item {
  margin-top: 50px;
}
/* line 524, style.scss */
section.banner-second .adv-items .yellow {
  color: #ffb529;
}
/* line 528, style.scss */
section.banner-second .adv-items .red {
  color: #eca79f;
}
/* line 532, style.scss */
section.banner-second .adv-items .green {
  color: #4fcbd3;
}
/* line 536, style.scss */
section.banner-second .adv-items .blue {
  color: #009dd9;
}
/* line 541, style.scss */
section.banner-second .descr {
  color: #3389ab;
  font-family: "Calibri";
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}
/* line 549, style.scss */
section.banner-second img {
  display: block;
  margin: 15px auto;
}
/* line 554, style.scss */
section.banner-second .form {
  margin: 25px auto 0;
  max-width: 660px;
  justify-content: center;
}
/* line 558, style.scss */
section.banner-second .form .col {
  width: 50%;
  padding: 5px;
}
/* line 561, style.scss */
section.banner-second .form .col input {
  max-width: 325px;
  margin: 5px 0;
}
/* line 567, style.scss */
section.banner-second .form button {
  margin-top: 20px;
}

/* line 574, style.scss */
section.med {
  background: url(images/med-bg.png) 0px -210px no-repeat;
  background-size: cover;
  min-height: 990px;
}
/* line 578, style.scss */
section.med h2 {
  font-size: 26px;
  color: #10202f;
}
/* line 580, style.scss */
section.med .bg {
  margin-top: 50px;
  background: url(images/med-img.png) center center no-repeat;
  min-height: 330px;
}
/* line 586, style.scss */
section.med .list {
  margin-left: 80px;
}
/* line 589, style.scss */
section.med .list .item {
  font-size: 24px;
  font-family: "Calibri",sans-serif;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
}
/* line 597, style.scss */
section.med .list .item img {
  display: none;
}
/* line 601, style.scss */
section.med .list .item:nth-child(2) {
  margin-left: 30px;
}
/* line 605, style.scss */
section.med.lazu {
  margin-top: 0;
  background: url(images/med-lazu.png) 0px 0 no-repeat;
}
/* line 609, style.scss */
section.med.lazu .box {
  padding: 135px 0 360px;
}

/* line 616, style.scss */
section.polezen {
  background: url(images/polezen-bg.png) bottom no-repeat;
  margin-top: -235px;
  padding-top: 235px;
  padding-bottom: 200px;
  position: relative;
  overflow-y: hidden;
}
/* line 624, style.scss */
section.polezen:after {
  content: '';
  position: absolute;
  display: block;
  width: 635px;
  height: 600px;
  bottom: -10px;
  right: 450px;
  background: url(images/polezen-woomen.png) center center no-repeat;
}
/* line 635, style.scss */
section.polezen h2 {
  font-size: 36px;
}
/* line 637, style.scss */
section.polezen .list {
  position: relative;
  margin-top: 50px;
}
/* line 641, style.scss */
section.polezen .list .item {
  max-width: 410px;
  margin-bottom: 50px;
}
/* line 645, style.scss */
section.polezen .list .item.w1 {
  max-width: 355px;
}
/* line 646, style.scss */
section.polezen .list .item.wsm {
  max-width: 250px;
  margin-top: -130px;
}
/* line 647, style.scss */
section.polezen .list .item:last-child {
  position: absolute;
  bottom: -50px;
  right: -45px;
}
/* line 652, style.scss */
section.polezen .list .item.x5 {
  margin-top: -50px;
}
/* line 653, style.scss */
section.polezen .list .item .img {
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}
/* line 658, style.scss */
section.polezen .list .item .text {
  margin-top: -25px;
  background-color: #009dda;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  line-height: 1.2;
  box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.3);
}
/* line 670, style.scss */
section.polezen .form {
  margin-top: 150px;
  color: #fff;
}
/* line 674, style.scss */
section.polezen .form h2 {
  color: #fff;
}
/* line 676, style.scss */
section.polezen .form .caption {
  font-size: 24px;
  font-family: "Calibri",sans-serif;
  text-transform: uppercase;
}
/* line 682, style.scss */
section.polezen .form p:not(.caption) + p {
  display: block;
  margin-top: 5px;
}
/* line 683, style.scss */
section.polezen .form .wrap {
  max-width: 325px;
  margin-top: 80px;
}
/* line 688, style.scss */
section.polezen .form button {
  margin-top: 20px;
}
/* line 690, style.scss */
section.polezen .box {
  margin-top: 80px;
}
/* line 695, style.scss */
section.polezen.needed:before {
  width: 100%;
  content: '';
  top: 405px;
  position: absolute;
  height: 642px;
  background: url(images/vitamins.png) center no-repeat;
  background-size: contain;
}
/* line 705, style.scss */
section.polezen.needed:after {
  background: url(images/polezen-woomen2.png) center center no-repeat;
  bottom: 0;
}
/* line 710, style.scss */
section.polezen.needed .form {
  margin-top: 120px;
}
/* line 714, style.scss */
section.polezen.needed .list {
  margin-top: 100px;
}
/* line 716, style.scss */
section.polezen.needed .list .item {
  margin-bottom: 0;
}
/* line 719, style.scss */
section.polezen.needed .list .item:last-child {
  position: static;
}
/* line 723, style.scss */
section.polezen.needed .list .item:nth-child(2) {
  margin-top: 90px;
}
/* line 727, style.scss */
section.polezen.needed .list .item .text {
  line-height: 26px;
}
/* line 729, style.scss */
section.polezen.needed .list .item .text.darken {
  background-color: #3f7bdf;
}

/* line 738, style.scss */
section.partners {
  background: url(images/partners-bg.png) bottom no-repeat;
  padding-bottom: 320px;
}
/* line 741, style.scss */
section.partners h2 {
  padding-top: 120px;
}
/* line 745, style.scss */
section.partners .list {
  position: relative;
  margin-top: 110px;
}
/* line 749, style.scss */
section.partners .list .item {
  max-width: 370px;
}
/* line 752, style.scss */
section.partners .list .item:nth-child(odd) {
  margin-top: 110px;
}
/* line 754, style.scss */
section.partners .list .item:nth-child(odd) .text {
  margin-top: -40px;
}
/* line 759, style.scss */
section.partners .list .item .text {
  margin-top: -25px;
  background-color: #009dda;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  line-height: 1.2;
  box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.3);
}
/* line 768, style.scss */
section.partners .list .item .text.red {
  background-color: #ba9a92;
}
/* line 772, style.scss */
section.partners .list .item .text.blue {
  background-color: #5ab5c9;
}
/* line 776, style.scss */
section.partners .list .item .text.yellow {
  background-color: #d8a43f;
}

/* line 784, style.scss */
section.vitamin {
  background: url(images/vitamin-bg.png) 0px -25px no-repeat;
  background-size: cover;
  min-height: 1600px;
}
/* line 789, style.scss */
section.vitamin h2 {
  padding-top: 100px;
}
/* line 791, style.scss */
section.vitamin .text {
  margin-top: 80px;
}
/* line 792, style.scss */
section.vitamin .col + .col {
  padding-left: 40px;
}
/* line 793, style.scss */
section.vitamin .caption {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Calibri",sans-serif;
  margin-bottom: 20px;
}
/* line 799, style.scss */
section.vitamin p:not(.caption) {
  font-family: "Calibri",sans-serif;
  font-size: 18px;
}
/* line 802, style.scss */
section.vitamin p:not(.caption) + p {
  margin-top: 20px;
}

/* line 807, style.scss */
section.documents {
  background: url(images/documents-bg.png) 0px -400px no-repeat;
  padding-bottom: 300px;
}
/* line 812, style.scss */
section.documents .documents {
  margin: 80px 0 100px;
}
/* line 816, style.scss */
section.documents .video iframe {
  margin-top: 100px;
}

/* line 820, style.scss */
section.fans {
  padding-bottom: 100px;
}
/* line 822, style.scss */
section.fans .fans.mobile {
  display: none;
}
/* line 826, style.scss */
section.fans .fans {
  margin-top: 80px;
}
/* line 828, style.scss */
section.fans .fans .item {
  max-width: calc(100% / 3 - 30px);
  margin-bottom: 100px;
}
/* line 832, style.scss */
section.fans .fans .item > img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
/* line 834, style.scss */
section.fans .fans .item .name {
  text-align: center;
  font-size: 24px;
  font-family: "Calibri",sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 841, style.scss */
section.fans .fans .item .popular {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/* line 846, style.scss */
section.fans .fans .item .popular .date {
  font-size: 14px;
  font-family: "Calibri",sans-serif;
  color: #aeaeae;
  font-style: italic;
}
/* line 852, style.scss */
section.fans .fans .item .popular .stars {
  margin-top: -3px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/* line 859, style.scss */
section.fans .fans .item .popular .stars img + img {
  margin-left: 3px;
}
/* line 862, style.scss */
section.fans .fans .item .text {
  font-size: 18px;
  font-family: "Calibri",sans-serif;
  margin-top: 20px;
}
/* line 870, style.scss */
section.fans .button-wrapper {
  margin: 20px 0 100px;
  text-align: center;
}
/* line 877, style.scss */
section.fans .form h2 {
  flex-basis: 100%;
  padding-bottom: 50px;
}
/* line 878, style.scss */
section.fans .form textarea {
  flex: 1;
}
/* line 881, style.scss */
section.fans .form .right {
  padding-left: 20px;
  max-width: 320px;
}
/* line 885, style.scss */
section.fans .form .right input + input {
  margin-top: 10px;
}
/* line 887, style.scss */
section.fans .form .right .rating {
  margin: 25px 0;
}
/* line 889, style.scss */
section.fans .form .right .rating span {
  font-size: 17px;
  color: #919191;
  font-family: "Calibri",sans-serif;
  text-transform: uppercase;
}
/* line 890, style.scss */
section.fans .form .right .rating .stars {
  margin-left: 20px;
}

/* line 899, style.scss */
section.about {
  background: url(images/about-bg.png) 0px 0px no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  box-shadow: inset 0px -24px 21px -29px #000;
}
/* line 905, style.scss */
section.about h2 {
  padding-bottom: 50px;
}
/* line 907, style.scss */
section.about p {
  color: #fff;
  font-size: 18px;
  font-family: "Calibri",sans-serif;
}
/* line 912, style.scss */
section.about p + p {
  margin-top: 20px;
}
/* line 915, style.scss */
section.about .img {
  margin-top: 50px;
}

/* line 920, style.scss */
section.questions {
  padding-bottom: 100px;
}
/* line 923, style.scss */
section.questions h2 {
  margin: 50px 0 80px;
}
/* line 926, style.scss */
section.questions .accordion + .accordion {
  margin-top: 15px;
}
/* line 927, style.scss */
section.questions .accordion p {
  padding: 10px;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  background-color: #ffefab;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Calibri",sans-serif;
  cursor: pointer;
  position: relative;
  transition: all .2s ease;
}
/* line 940, style.scss */
section.questions .accordion p.active {
  background-color: #ffe473;
}
/* line 943, style.scss */
section.questions .accordion p.active i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/* line 947, style.scss */
section.questions .accordion p i {
  right: 20px;
  top: 50%;
  margin-top: -15px;
  background: url(images/icon-accord.png) center center no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  transition: all .2s ease;
}
/* line 959, style.scss */
section.questions .accordion p + .content {
  font-family: "Calibri",sans-serif;
  font-size: 18px;
  padding: 20px;
  display: none;
  background-color: #ffefab;
}
/* line 966, style.scss */
section.questions .accordion p + .content.active {
  display: block;
}

/* line 972, style.scss */
section.dispatch {
  background: #50ccd4 url(images/dispatch-bg.png) 0px 100% no-repeat;
  min-height: 1000px;
  position: relative;
}
/* line 977, style.scss */
section.dispatch .container {
  padding-top: 110px;
}
/* line 981, style.scss */
section.dispatch:before {
  content: '';
  position: absolute;
  left: 0;
  top: 280px;
  display: block;
  width: 210px;
  height: 500px;
  background: url(images/dispatch-img-1.png) center center no-repeat;
}
/* line 991, style.scss */
section.dispatch:after {
  content: '';
  position: absolute;
  right: 0;
  top: 280px;
  display: block;
  width: 210px;
  height: 500px;
  background: url(images/dispatch-img-2.png) center center no-repeat;
}
/* line 1002, style.scss */
section.dispatch .social {
  margin: 40px 0;
}
/* line 1004, style.scss */
section.dispatch .social a + a {
  margin-left: 30px;
}
/* line 1007, style.scss */
section.dispatch .form {
  text-align: center;
}
/* line 1009, style.scss */
section.dispatch .form .caption {
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Calibri",sans-serif;
}
/* line 1014, style.scss */
section.dispatch .form input {
  max-width: 320px;
}
/* line 1015, style.scss */
section.dispatch .form button {
  background-color: #009dda;
}
/* line 1016, style.scss */
section.dispatch .form .inline {
  padding: 30px 0;
}
/* line 1018, style.scss */
section.dispatch .form .inline * + * {
  margin-left: 7px;
}

/* line 1024, style.scss */
footer {
  margin-top: -189px;
}
/* line 1026, style.scss */
footer .top {
  position: relative;
  z-index: 4;
  top: -30px;
}
/* line 1030, style.scss */
footer .top .container {
  position: relative;
}
/* line 1031, style.scss */
footer .top .contacts {
  font-size: 36px;
  color: #009dda;
  position: relative;
  top: 5px;
  left: -90px;
}
/* line 1038, style.scss */
footer .top .contacts a {
  font-weight: 600;
}
/* line 1041, style.scss */
footer .logotype {
  background-color: #fff;
  padding: 15px 40px;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.6);
}
/* line 1048, style.scss */
footer .logotype p {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 21px;
  color: #009dda;
  font-style: italic;
  line-height: 1;
}
/* line 1058, style.scss */
footer .footer__nav {
  position: relative;
  z-index: 3;
  background-color: #009dda;
  height: 70px;
  box-shadow: 5px 0px 16px -2px #000;
}
/* line 1064, style.scss */
footer .footer__nav ul {
  padding-right: 140px;
  height: 100%;
}
/* line 1067, style.scss */
footer .footer__nav ul li + li {
  margin-left: 40px;
}
/* line 1068, style.scss */
footer .footer__nav ul a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
/* line 1077, style.scss */
footer .bot {
  background-color: white;
  height: 70px;
  text-align: center;
  position: relative;
  z-index: 2;
  border-top: 1px solid #fff;
  color: #009dd9;
  font-family: "Myriad Pro";
  font-size: 16px;
  text-transform: uppercase;
  line-height: 70px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */